---
import Layout from "@layouts/Layout.astro";

const title = "تربتی | Torbatti"
const author = "آریا بختیاری | Arya Bakhtiari"
const description = ""


import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const masirEntries = await getCollection('masir');
  return masirEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content , headings } = await entry.render();
---
<Layout title={title} author={author} description={description} >

    <div class="text-box">
      <h1>{entry.data.title}</h1>

      {headings.map((heading)=>(
        <p><a href={`#${heading.slug}`}>{heading.text}</a></p>
      ))}
      
      <Content />

    </div>

</Layout>
